h1{
    color:#e63946;
    background-color: #1d3557;
    text-align:center;
  }
p{
    color:#f1faee;
    padding: 15px ;
    border: 10px solid #1d3557;
    /*margin-top: 40px ;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    */
    background-color: #457b9d;
    margin:auto 50px;
    text-align: center;
  }
  body{
    background-color: #a8dadc;
  }
  